{% extends 'base.html' %} {% block content1 %}
    <div class="container-fluid">
        <h1>Test</h1>

        <h2>Furrat</h2>
        <hr/>
        {% for furre in furrat %}
            <h4>{{ furre.name }}</h4>
            {% for muaj in furre.months %}
                <h6>{{ muaj.month }}</h6>
                <div>
                    {% for sale in muaj.sales %}
                        {{ sale }},
                    {% endfor %}
                </div>
            {% endfor %}
            <hr/>
        {% endfor %}

    </div>
{% endblock %}
